
/* 변수 선언 */
$flex: flex;
ul.myMenu > li {
  background-color: #eee;
  display: inline-block;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  width: 80px;
}
ul.myMenu > li:hover {
  background: #fff;
}
ul.myMenu > li ul.submenu {
  display: none;
  left: 0;
  position: absolute;
  top: 30px;
}
ul.myMenu > li:hover ul.submenu {
  display: block;
}
ul.myMenu > li ul.submenu li {
  background: #eee;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  width: 80px;
}

/* Main Componet header 영역 css */
.header {
  border-color: #e7e7e7;
  border-radius: 0;
  display: $flex;
  margin-bottom: 0;
}
.header_log {
  height: 70px;
  margin-right: 50px;
  width: 200px;
}
.header_brand-log {
  display: $flex;
}
.header_menu {
  display: $flex;
}
.header_menu > ul > li {
  display: block;
  float: left;
  margin-right: 5px;
  position: relative;
}

/* Main Componet content 1 영역 css */
.visual {
  display: $flex;
  height: 502px;
}

/* Main Componet content 2 영역 css */
.main {
  display: $flex;
  flex: 1;
}
.main_wrap {
  display: $flex;
  flex-direction: column;
  height: 100%;
}

/* Main Componet footer 영역 css */
.footer {
  display: $flex;
}
