@import "mixin";

/* 변수 선언 */
$black: #212529;
$white: #fff;
$col1: #9f1414;
$col2: #dc3545;
$dabangblue: #1564f9;
$dabangblack: #444;
$imgUrl: "~@/assets/images/";

/* Main Componet header 영역 css */
.header {
  @include flex();
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0;
  justify-content: space-between;
  margin-bottom: 0;

  @include boxSizing();
  &_side {
    .logo {
      background: url($imgUrl + "logo.png") center center no-repeat;
      background-size: contain;
      display: inline-block;
      height: 74px;
      text-indent: -9999px;
      vertical-align: middle;
      width: 74px;
    }
    .side_link {
      display: inline-block;
      vertical-align: middle;
      a {
        color: #888;
        font-size: 13px;
        position: relative;
        &:hover {
          color: rgb(50, 108, 249);
        }
      }
      a::before {
        border-left: 1px solid #888;
        content: '';
        display: inline-block;
        height: 12px;
        margin-left: 10px;
        padding-left: 10px;
        position: relative;
        top: 1px;
        width: 1px;
      }
      a:first-child::before {
        display: none;
      }
    }
  }
  &_mainmenu {
    display: inline-block;
    height: 100%;
    & > li {
      background-color: #fff;
      display: inline-block;
      margin-right: 10px;
      padding: 25px 15px 31px;
      position: relative;
      text-align: center;
      width: 80px;
    }
    & > li:hover {
      background: #fff;
    }
    & > li:hover > ul {
      display: block;
      z-index: 1000;
    }
    & + .login_signup {
      color: rgb(136, 136, 136);
      cursor: pointer;
      display: inline-block;
      font-size: 13px;
      height: 70px;
      line-height: 60px;
      margin-left: 50px;
      padding: 5px 0;
      position: relative;
      &:hover {
        color: rgb(50, 108, 249);
      }
    }
  }
  &_submenu {
    background-color: #fff;
    border-radius: 0.35em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 4px 0;
    box-sizing: border-box;
    display: none;
    left: 15px;
    position: absolute;
    top: 73px;
    transition: all 200ms linear;
    width: 80px;
    & > li {
      padding: 10px 10px 10px;
    }

    & > li:hover {
      display: block;
    }
  }
}

/* Main Componet content 1 영역 css */
.visual {
  // @include flex();
  box-sizing: border-box;
  // image url 사용시 이미지 업로드 방법
  //background-image: url('~@/assets/images/happyHouse.png');
  height: 432px;
  min-width: 1366px;
  padding-bottom: 113px;
  padding-top: 115px;
  width: 100%;
  &_white_modal {
    background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  &_title {
    color: $dabangblack;
    font-size: 46px;
    font-weight: 300;
    letter-spacing: -0.8px;
    line-height: 58px;
    position: relative;
    text-align: center;
    z-index: 20;
  }
  span {
    color: $dabangblue;
  }
  .visual_img {
    // display: block;
    // visibility: hidden;
    cursor: default;
    width: 100%;
  }

  .searchBox_layer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
  }

  .searchBox_bg {
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 90px;
    padding-top: 20px;
  }

  .searchBox {
    background-color: $white;
    border: 1px solid #d0d2d6;
    box-sizing: border-box;
    height: 60px;
    margin: 0 auto;
    margin-top: 28px;
    position: relative;
    width: 800px;
    z-index: 20;
    &_inputGroup {
      @include flex();
      background-color: $white;
      height: 100%;
      svg {
        height: 18px;
        left: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        // viewbox: "0 0 18 18";
        width: 18px;
        g {
          fill: none;
          fill-rule: evenodd;
          stroke: #222;
        }
        circle {
          cx: 7.5;
          cy: 7.5;
          r: 6.5;
        }
        path {
          d: path("M 12 12 l 5 5");
        }
      }
      input {
        border-left: 1px solid rgb(221, 221, 221);
        border-width: 0 0 0 1px;
        color: rgb(34, 34, 34);
        display: inline-block;
        font-size: 20px;
        height: 30px;
        margin: 14px 110px 14px 54px;
        outline: none;
        padding: 0 20px;
        width: 636px;
      }
      button {
        background-color: #1374f8;
        border: 3px solid $white;
        border-radius: 2px;
        border-width: 0;
        color: $white;
        // @include border-radius(0 30px 30px 0);
        font-size: 16px;
        height: 48px;
        letter-spacing: -0.3px;
        line-height: 48px;
        outline: none;
        position: absolute;
        right: 6px;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        vertical-align: middle;
        width: 95px;
      }
    }
    &_searchList {
      background-color: $white;
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 4px 0;
      max-height: 150px;
      overflow: auto;
      li {
        height: 30px;
        padding-top: 6px;
        vertical-align: middle;
        a {
          display: inline-block;
          height: 100%;
          width: 100%;
        }
      }
    }
    &.fff {
      background-color: $white;
      border: 1px solid rgb(96, 163, 255);
      box-shadow: rgba(42, 144, 255, 0.15) 0 0 6px 0;
      box-sizing: border-box;
      height: 60px;
      position: relative;
      width: 800px;
      & svg {
        height: 17px;
        g {
          stroke: #006cff;
          transform: translate(1, 1);
        }
      }
    }
  }
  .autoCompleteWrap {
    background-color: $white;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.06) 0 1px 12px 0, rgba(0, 0, 0, 0.12) 0 20px 15px -12px;
    display: flex;
    height: 380px;
    left: 50%;
    margin: 5px auto;
    position: absolute;
    top: 64px;
    transform: translateX(-50%);
    width: 800px;
    z-index: 20;
    h1 {
      font-size: 16px;
      font-weight: 500;
    }
    p {
      margin-top: 8px;
    }
    span.keyword {
      color: rgb(102, 102, 102);
      cursor: pointer;
      font-size: 15px;
      margin: 0;
      padding: 0;
      &:hover {
        color: rgb(34, 34, 34);
      }
    }
    .recentKeyword {
      border-top: 1px solid rgb(238, 238, 238);
      margin-top: 30px;
      padding-top: 30px;
      &List {
        list-style: none;
        padding-top: 14px;
      }
      &List > li {
        color: rgb(102, 102, 102);
        cursor: pointer;
        display: flex;  // 임시
        font-size: 14px;
        line-height: 36px;
        padding-right: 15px;
        position: relative;
      }
    }
    .autoCompleteContent {
      flex: 1 1 0;
      &Header {
        border-bottom: 1px solid #eee;
        height: 60px;
        line-height: 60px;
        padding-left: 20px;
        text-align: left;
        vertical-align: middle;
        img {
          cursor: initial;
          margin-right: 5px;
          vertical-align: middle;
        }
        span {
          color: initial;
          font-size: 16px;
          font-weight: 700;
        }
      }
      .listWrap {
        height: 298px;
        overflow-y: auto;
        padding: 10px 0 0;
        li.list {
          cursor: pointer;
          font-size: 14px;
          height: initial;
          list-style: none;
          padding: 6px 15px 6px 25px;
          position: relative;
          p {
            line-height: 20px;
            margin: 0;
            &:nth-child(2) {
              color: rgb(153, 153, 153);
              font-size: 11px;
            }
          }
          &:hover {
            background-color: #f6f7f9;
            p {
              color: #222;
            }
          }
        }

        @include scrollbar();
      }
    }
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
}

/* Main Componet content 2 영역 css */
.main {
  @include flex();
}
.main_wrap {
  @include flex();
  flex-direction: column;
  height: 100%;
}

/* Main Componet footer 영역 css */
.footer {
  background: #373737;
  border-top: 1px solid #e5e5e5;
  &_inner {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 10px;
  }
  &_inner::after {
    clear: both;
    content: '';
    display: block;
  }
  &_corp_info {
    padding: 0 0 18px;
    li {
      margin: 0 0 15px;
      p {
        color: #aaa;
        font-size: 0.85em;
        letter-spacing: -0.5px;
      }
      &.copy {
        margin: 20px 0 0 0;
        span {
          font-family: 'Arial', sans-serif;
        }
      }
      .link_top {
        @include flex();
        border-bottom: 1px solid #454545;
        height: 69px;
        justify-content: space-between;
        .link_info {
          @include flex();
          align-items: center;
          height: 100%;
          a {
            color: #aaa;
            display: inline-block;
            font-size: 13px;
            position: relative;
          }
          a::before {
            border-left: 1px solid #666;
            content: '';
            display: inline-block;
            height: 12px;
            margin-left: 10px;
            padding-left: 10px;
            position: relative;
            top: 1px;
            width: 1px;
          }
          a:first-child::before {
            display: none;
          }
          a:nth-child(3) {
            color: $white;
            font-weight: bold;
          }
        }
        .top_move {
          border-left: 1px solid #454545;
          border-right: 1px solid #454545;
          cursor: pointer;
          height: 100%;
          justify-self: flex-end;
          width: 70px;
        }
        .top_move::before {
          border-bottom: 7px solid rgb(210, 214, 218);
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 7px solid transparent;
          content: "";
          display: block;
          height: 0;
          margin: 14px auto 0;
          width: 0;
        }
        .top_move::after {
          color: rgb(210, 214, 218);
          content: "TOP";
          display: block;
          font-size: 11px;
          font-weight: 300;
          margin-top: 7px;
          text-align: center;
        }
      }
    }
  }
}
// mainComponent
.room_search {
  border-top: 1px solid rgb(238, 238, 238);
  margin: 0 auto;
  position: relative;
  width: 1180px;
  .room_search_title {
    margin-top: 36px;
    text-align: center;
    span {
      font-size: 25px;
      font-weight: bold;
    }
    p {
      color: rgb(102, 102, 102);
    }
  }
  .room_slide {
    height: 172px;
    margin-top: 26px;
    position: relative;
    width: 100%;
    .mask {
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
    }
    .list {
      height: 172px;
      position: relative;
      right: 0;
      transition: right 300ms ease-out 0s;
      width: 1777px;
      a {
        float: left;
        height: 172px;
        width: 185px;

        @at-root .product_box {
          background-color: rgb(255, 255, 255);
          border-radius: 5px;
          height: 172px;
          width: 185px;
          .thumnail {
            background: url(/static/media/easy_1.8ea3046f.png) center center / cover no-repeat;
            background-color: #eee;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 100px;
            width: 100%;
          }
          .cont {
            border-bottom: 1px solid rgb(238, 238, 238);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-left: 1px solid rgb(238, 238, 238);
            border-right: 1px solid rgb(238, 238, 238);
            height: 72px;
            padding: 14px;
            width: 100%;

            @include boxSizing();
            p {
              color: rgb(68, 68, 68);
              font-size: 15px;
              height: 21px;
              line-height: 21px;
            }
          }
        }
      }
      a + a { margin-left: 14px; }
    }
    .btn_moving {
      background-color: rgb(255, 255, 255);
      border-color: initial;
      border-image: initial;
      border-radius: 50%;
      border-style: initial;
      border-width: 0;
      box-shadow: rgba(0, 0, 0, 0.08) 0 0 3px 1px;
      height: 40px;
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      z-index: 1;
      svg {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .btn_moving:hover { box-shadow: rgba(0, 0, 0, 0.13) 0 0 8px 3px; }
  }
  .room_page {
    font-size: 13px;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
    a {
      border-bottom: 2px solid transparent;
      color: rgb(158, 156, 156);
      cursor: pointer;
      display: inline-block;
      font-size: 13px;
      font-weight: 700;
      height: 24px;
      margin-right: 24px;
      text-align: center;
    }
    a.on {
      border-bottom: 2px solid rgb(34, 34, 34);
      color: rgb(34, 34, 34);
    }
  }
}
