@import "mixin";

/* 변수 선언 */
$black: #212529;
$white: #fff;
$col1: #9f1414;
$col2: #dc3545;

/* Main Componet header 영역 css */
.header {
  @include flex();
  border: 1px solid #e7e7e7;
  border-radius: 0;
  margin-bottom: 0;
  &_log {
    height: 72px;
    margin-right: 25px;
    width: 127px;
  }
  &_mainmenu {
    height: 100%;
    & > li {
      background-color: #fff;
      display: inline-block;
      margin-right: 10px;
      padding: 25px 15px 31px;
      position: relative;
      text-align: center;
      width: 80px;
    }
    & > li:hover {
      background: #fff;
    }
    & > li:hover > ul {
      display: block;
      z-index: 1000;
    }
  }
  &_submenu {
    background-color: #fff;
    border-radius: 0.35em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 4px 0;
    box-sizing: border-box;
    display: none;
    left: 15px;
    position: absolute;
    top: 73px;
    transition: all 200ms linear;
    width: 80px;
    & > li {
      padding: 10px 10px 10px;
    }

    & > li:hover {
      display: block;
    }
  }
}

/* Main Componet content 1 영역 css */
.visual {
  @include flex();
  // image url 사용시 이미지 업로드 방법
  //background-image: url('~@/assets/images/happyHouse.png');
  background-position: center;
  background-size: cover;
  height: 502px;
}

.visual_img {
  // display: block;
  // visibility: hidden;
  cursor: default;
  width: 100%;
}

.searchBox_layer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.searchBox_bg {
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 90px;
  padding-top: 20px;
}

.searchBox {
  margin: 0 auto;
  text-align: center;
  width: 550px;
  &_inputGroup {
    @include flex();
    background-color: $white;
    height: 48px;
    img {
      cursor: default;
      max-height: 100%;
      width: auto;
    }
    input {
      // @include border-radius(30px 0 0 30px);
      border: none;
      flex: 1;
      font-size: 16px;
      // text-align: center;
    }
    button {
      // @include border-radius(0 30px 30px 0);
      background-color: #64d4e9;
      border: 3px solid #fff;
      color: $white;
      font-size: 16px;
      text-align: center;
      vertical-align: middle;
    }
  }
  &_searchList {
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 4px 0;
    max-height: 150px;
    overflow: auto;
    li {
      height: 30px;
      padding-top: 6px;
      vertical-align: middle;
      a {
        display: inline-block;
        height: 100%;
        width: 100%;
      }
    }
    li:hover {
      background-color: #d3e7f8;
    }
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
}

/* Main Componet content 2 영역 css */
.main {
  @include flex();
}
.main_wrap {
  @include flex();
  flex-direction: column;
  height: 100%;
}

/* Main Componet footer 영역 css */
.footer {
  background: #fff;
  border-top: 1px solid #e5e5e5;
  padding: 18px 0;
  &_inner {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 980px;
    padding: 0 10px;
  }
  &_inner::after {
    clear: both;
    content: '';
    display: block;
  }
  &_corp_info {
    padding: 0;
    text-align: center;
    li {
      margin: 0 0 5px;
      p {
        color: #bbb;
        font-size: 0.85em;
        letter-spacing: -0.5px;
      }
    }
    li.copy {
      margin: 20px 0 0 0;
      span {
        font-family: 'Arial', sans-serif;
      }
    }
  }
}
